<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="zh"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" id="welcome">主页</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="view1">页面 1(权限：perm1)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="view2">页面 2(权限：perm2)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="view3">页面 3(权限：perm3)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="view4">页面 4(权限：perm4)</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="btn btn-outline-success my-2 my-sm-0" id="logout" type="button" value="登出"/>
        </form>
    </div>
</nav>
<div class="embed-responsive embed-responsive-16by9">
    <iframe id="frame" class="embed-responsive-item" src=""></iframe>
</div>

<script th:inline="javascript">
    // <![CDATA[
    $("#logout").click(function() {
        window.location.href = /*[[@{'/logout?redirect_uri=' + ${redirect_uri}}]]*/ '';
    });
    $("#welcome").click(function() {
        window.location.href = /*[[@{/}]]*/ '';
    });
    $("#view1").click(function() {
        $("#frame").prop('src', /*[[@{/view1}]]*/ '');
    });
    $("#view2").click(function() {
        $("#frame").prop('src', /*[[@{/view2}]]*/ '');
    });
    $("#view3").click(function() {
        $("#frame").prop('src', /*[[@{/view3}]]*/ '');
    });
    $("#view4").click(function() {
        $("#frame").prop('src', /*[[@{/view4}]]*/ '');
    });
    //]]>
</script>
</body>
</html>
